.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile h1 {
    font-family: Helvetica;
    color: white;
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 20px;
}

.user-profile h2 {
    font-family: Helvetica;
    color: white;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
}

.user-profile .male-name {
    color: cyan;
}

.user-profile .female-name {
    color: palevioletred;
}

.user-profile img {
    width: 250px;
    margin-bottom: 20px;
}

.user-profile p {
    font-family: Helvetica;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 30px;
}

.user-profile button {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: teal;
    border: 1px solid wheat;
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 100;
    transition: all 0.3s;
}

.user-profile button:hover {
    background-color: wheat;
    border: 1px solid wheat;
    color: teal;
    cursor: pointer;
}